/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.visualization {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: inline-flex;
}

.visualization-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.visualization-chart {
  margin-top: 20px;
}

/* Visualization 1 styles */
.visualization-1 {
  background-color: #f9f9f9;
}

/* Visualization 2 styles */
.visualization-2 {
  background-color: #f5f5f5;
}

/* Visualization 3 styles */
.visualization-3 {
  background-color: lightgoldenrodyellow;
}

/* Add any additional styles for your visualizations here */
.interact-elm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.toggle-switch span {
  margin-right: 10px;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #21f3bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21f3bf;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.province {
  fill: #006400;
  stroke: #fff;
  stroke-width: 1px;
}
.province:hover {
  fill: #FF0000;
}
.hidden {
  display: none;
}
div.tooltip {
  color: #222;
  background-color: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  opacity: 0.9;
  position: absolute;
}
.top-layer {
  display: flex;
}
